<div ng-show="!logged_in()">
    <div>
      OUR USER ID: {{ user_id() }}
      {{ logged_in ()}}
      <br/>
      LOGGED IN? {{ logged_in() }}
    </div>

    <input type="text"
           ng-model="input.email"
           autofocus />
    <input type="text"
           ng-model="input.password"
           autofocus />
    <button ng-click="login()">LOGIN</button>

</div>

<div class="row header">

  <div class="col-md-2">

    <div class="logo">

    </div>

  </div>

  <div class="col-md-8 eventname">

    <h1>{{ event.name }}</h1>

  </div>

  <div class="col-md-2">

    <div class="logout" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> &nbsp Log Out</div>

  </div>

</div>

<div class="row content" ng-show="logged_in()">

  <div class="col-md-2">

    <div ng-controller="CreateChannel" ng-include src="'/app/create_channel/main.html'"></div>

  </div>

  <div class="col-md-9">

    <div class="row newnotice">

      <form ng-submit="nextstep()">

        <input class="newnoticeinput" type="text" placeholder="Write a new notice..." ng-model="broadcast" ng-show="!step2">
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

      </form>

      <form ng-submit="finalstep(event_name(),broadcast,tags)">

      <tags-input ng-show="step2" ng-model="tags">

      </tags-input>

      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

      </form>

    </div>

    <div class="row stats">

      <div class="col-md-4 stat stat-left">

        <div class="actual-stat">

          <div class="stat-icon blue">

            <img src="../../../images/users-icon.png" class="icon">

          </div>

          <div class="stat-text">

              <span class="stat-number">187</span>
              <span class="stat-unit">app users</span>

          </div>

        </div>

      </div>

      <div class="col-md-4 stat stat-middle">

        <div class="actual-stat">

          <div class="stat-icon orange">

            <img src="../../../notifista/assets/images/broadcasts-icon.png" class="icon">

          </div>

          <div class="stat-text">

            <span class="stat-number">16</span>
            <span class="stat-unit">&nbspbroadcasts</span>

          </div>

        </div>

      </div>

      <div class="col-md-4 stat stat-right">

        <div class="actual-stat">

          <div class="stat-icon green">

            <img src="../../../images/users-icon.png" class="icon">

          </div>

          <div class="stat-text">

            <span class="stat-number">55</span>
            <span class="stat-unit">somethings</span>

          </div>

        </div>

      </div>

    </div>

    <div class="row two">

        <div class="col-md-6 feed">

          <div class="actual-feed">

              <div class="row box-title red">

                <i class="glyphicon glyphicon-list"></i> &nbsp Broadcast Feed

              </div>

              <div class="feed-item">

                <span class="feed-item-time">19:34</span> &nbsp<span class="feed-item-text">Announcement: Food is ready! Come to the fourth floor to get it.</span>

              </div>

              <div class="feed-item">

                <span class="feed-item-time">22:02</span> &nbsp<span class="feed-item-text">Announcement: Food is ready! Come to the fourth floor to get it.</span>

              </div>

          </div>

        </div>

        <div class="col-md-6 graph">

          <div class="actual-graph">

            <div class="row box-title blue">

              <i class="glyphicon glyphicon-folder-open"></i> &nbsp Notification Open Rate

            </div>

          </div>

        </div>

    </div>

  </div>

</div>
<!---->
